
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// -------------
// --- STYLE ---
// -------------

body {
	font-family: Raleway, Arial;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

span.badge { font-size: 16px; }


// ---------------
// --- NAVBAR ---
// ---------------
nav.navbar 								{ height: 80px; padding: 0; background: $primary; line-height: 80px;
	a.navbar-brand 							{ padding-left: 50px; color: white; }

}


// Frontpage
div.headline 							{ margin-top: 70px; margin-bottom: 30px;
	h1 										{ font-size: 30px; }
	h3 										{ font-size: 25px; }
}


// ------------
// --- FORM ---
// ------------
div.upload 								{ margin: 0;
	form.upload-form {
		input[type="file"]					{ display: block; width: 90%; margin: 0 auto; padding: 5px; padding-left: 10px; padding-right: 10px; border: 1px solid $lightgray; }

		input[type="submit"] 				{ display: block; margin: 0 auto; margin-top: 20px; padding: 5px; padding-left: 10px; padding-right: 10px; background: white; border: 1px solid $lightgray; font-size: 17px; color: $secondary; cursor: pointer; }
	}
}